@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  --n-blue: 0, 98, 185;
  --main-color: var(--n-blue);
}

@theme {
  --color-n-blue: rgb(0, 98, 185);
}

@layer utilities {
  .btn {
    @apply inline-block rounded-[5px] font-bold uppercase tracking-[2px] shadow-[0_5px_15px_0_rgba(0,0,0,0.15)] transition-transform duration-300;
  }

  .btn:hover {
    @apply -translate-y-[3px];
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 27px;
    }
  }

  .animate-wheel {
    animation: wheel 1.3s infinite;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 59%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 65%;
  }
}
